/* @extend display-flex; */
display-flex {
  display: flex;
  display: -webkit-flex;
}

/* @extend list-type-ulli; */
list-type-ulli {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v5-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/poppins/poppins-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-700.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-700.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-700.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS*/
}

/* poppins-700italic - latin */
img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

p {
  margin-bottom: 0px;
}

h2 {
  line-height: 2.5;
  margin: 0;
  padding: -20px;
  font-weight: bold;
  color: #222;
  font-family: Poppins;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.clear {
  clear: both;
}

body {
  font-size: 14px;
  line-height: 1.8;
  color: #222;
  background: #e7f0fd;
  font-weight: 600;
  font-family: Poppins;
  margin: 0px;
}

.main {
  padding: 150px 0;
  position: relative;
}

h1 {
  position: absolute;
  font-weight: 700;
  font-size: 174px;
  color: #fff;
  opacity: 0.5;
  right: 105px;
  top: 45px;
  top: -149px;
  z-index: 9;
}

.container {
  width: 520px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
}

.sign-up-content {
  padding: 40px 60px 32px 60px;
  position: relative;
  z-index: 99;
}

.form-radio {
  margin: 0 -10px;
  margin-bottom: 40px;
}

.form-radio input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.form-radio input+label {
  margin: 0 8px;
  padding: 11px 44px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 2px #ebebeb;
  background-color: #FFF;
  font-size: 17px;
  font-weight: 600;
  color: #888;
  text-align: center;
  transition: border-color .15s ease-out, color .25s ease-out, background-color .15s ease-out, box-shadow .15s ease-out;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}

.form-radio input:checked+label {
  background-color: #c00000;
  color: #FFF;
  border-color: #c00000;
  z-index: 1;
}

.form-radio input:focus+label {
  outline: none;
}

.form-radio input:hover {
  background-color: #c00000;
  color: #FFF;
  border-color: #c00000;
}

input {
  border: solid 2px #ebebeb;
  box-sizing: border-box;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  font-family: Poppins;
  padding: 16px 30px 16px 130px;
}

.form-textbox {
  position: relative;
}

.form-textbox label {
  position: absolute;
  left: 28px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  font-weight: 600;
  color: #888;
  font-size: 14px;
}

#name {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#pass {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#email {
  border: none;
  border-left: solid 2px #ebebeb;
  border-right: solid 2px #ebebeb;
}

input[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none;
}

input[type=checkbox]:not(old)+label {
  display: inline-block;
  margin-top: 27px;
  margin-bottom: 45px;
}

input[type=checkbox]:not(old)+label>span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 15px;
  margin-bottom: 5px;
  border: 2px solid #ebebeb;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background: white;
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
  vertical-align: bottom;
}

input[type=checkbox]:not(old):checked+label>span {
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
}

input[type=checkbox]:not(old):checked+label>span:before {
  content: '\f26b';
  display: block;
  color: #222;
  font-size: 11px;
  line-height: 1.1;
  text-align: center;
  font-family: 'Material-Design-Iconic-Font';
  font-weight: bold;
}

.label-agree-term {
  color: #888;
}

.term-service {
  color: #c00000;
  text-decoration: none;
}

.term-service:hover {
  text-decoration: underline;
}

.submit {
  background: #c00000;
  color: #FFF;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  text-decoration: none;
  width: 50%;
}


.desc {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 0;
  src: url("../fonts/poppins/poppins-v5-latin-700.eot");

}

input[type=radio] {
  padding: 12px 20px 23px 20px;
  text-align: left;
  border: 0px;
  width: 50%;
  height: 1em;
}

.submit:hover {
  background: #c00000;
}

@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .sign-up-content {
    padding: 40px 20px 32px 20px;
  }

  .form-radio input+label {
    display: block;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 400px) {
  .form-textbox label {
    left: 15px;
  }

  input {
    padding: 16px 30px 16px 100px;
  }
}

/*# sourceMappingURL=style.css.map */